@import url("css/fonts.css");

:root {
  --GBBB: "GentiumBookBasic-Bold";
  --GBBR: "GentiumBookBasic-Regular";
  --GBBI: "GentiumBookBasic-Italic";
  --LB: "Lato-Bold";
  --LR: "Lato-Regular";
  --LI: "Lato-Italic";
  --OSB: "OpenSans-Bold";
  --OSR: "OpenSans-Regular";
  --OSI: "OpenSans-Italic";
  --YOR: "YesevaOne-Regular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container-full {
  width: 100%;
}
.fix {
  overflow: hidden;
}
.header-bg {
  background-image: url("img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
#header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#header .logo {
  width: 20%;
  text-align: right;
}
#header .nav {
  width: 60%;
  text-align: right;
}
#header .social-link {
  width: 20%;
  padding: 49px 20px;
}

#header .nav ul li {
  display: inline-block;
  padding: 45px 20px;
  border-top: 4px solid transparent;
}
#header .nav ul li:hover {
  border-top: 4px solid white;
}
#header .nav ul li a {
  font-family: var(--GBBB);
  font-size: 16px;
  color: white;
}
#header .social-link a {
  text-decoration: none;
  color: #dab33e;
  margin: 5px;
}
#header .content-wrapper {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -65%);
  text-align: center;
}
#header .content-wrapper .content h1 {
  font-family: var(--YOR);
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}
#header .content-wrapper .button ul li {
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 30px 10px;
  border: 1px solid white;
}
#header .content-wrapper .button ul li a {
  font-family: var(--LR);
  font-size: 16px;
  color: white;
  display: block;
  padding: 12px;
}
#header .content-wrapper .button ul li.active {
  background-color: rgba(0, 0, 0, 0.5);
}
#header .content-wrapper .button ul li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cook-bg {
  background-image: url("img/2ndbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.container-cook {
  width: 80%;
  margin: 0 auto;
}
#cook .cook-wrapper {
  width: 100%;
}
#cook .cook-wrapper .content {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  margin: 100px auto;
}
#cook .cook-wrapper .content h2 {
  font-family: var(--YOR);
  font-size: 30px;
  color: #cc9900;
  margin: 15px auto;
}
#cook .cook-wrapper .content p {
  font-family: var(--LR);
  font-size: 16px;
  padding: 15px 80px;
  margin-bottom: 40px;
}

#cook .cook-wrapper .content .cook-image {
  margin-left: 85px;
}

#cook .cook-wrapper .dish {
  display: block;
  float: left;
  width: 40%;
  margin: 80px auto;
}
#cook .cook-wrapper .dish img {
  width: 530px;
}
.ing-bg {
  background-image: url("img/3rdbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#Igredients .Igredients-wrapper {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-80%, -50%);
  width: 500px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#Igredients .Igredients-wrapper h3 {
  font-family: var(--YOR);
  font-size: 30px;
  color: white;
  margin-top: 80px;
  margin-bottom: 20px;
}
#Igredients .Igredients-wrapper .img-divider {
  width: 200px;
}
#Igredients .Igredients-wrapper p {
  font-family: var(--LR);
  font-size: 16px;
  color: white;
  padding: 10px 30px;
  margin-bottom: 40px;
}
#Igredients .Igredients-wrapper .ing-image img {
  margin: 0 10px;
}
.menu-bg {
  background-image: url("img/2ndbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.container-menu {
  width: 80%;
  margin: 0 auto;
}
#menu .menu-wrapper {
  width: 100%;
  display: block;
}
#menu .menu-wrapper .menu-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#menu .menu-wrapper .menu-col .menu-col-item {
  width: 40%;
  text-align: center;
  margin: 0px 50px;
}
#menu .menu-wrapper .menu-col .menu-col-item .item-wrapper {
  display: block;
}
#menu .menu-wrapper .menu-col .menu-col-item .item-wrapper .item-name {
  float: left;
}
#menu .menu-wrapper .menu-col .menu-col-item .item-wrapper .item-price {
  float: right;
}
#menu .menu-wrapper .menu-col .menu-col-item .item-wrapper p {
  clear: both;
  border-top: 1px solid #e1d29f;
  font-family: var(--LR);
  font-size: 16px;
  color: #6d6e6e;
  padding: 5px 0px;
  text-align: left;
}
#menu .menu-wrapper .menu-col .menu-col-item h3 {
  font-family: var(--YOR);
  font-size: 30px;
  color: #cc9900;
  margin-bottom: 10px;
}
#menu .menu-wrapper .menu-col .menu-col-item h5 {
  font-family: var(--YOR);
  font-size: 18px;
  color: #c8a02f;
  margin: 5px auto;
}
#menu .menu-wrapper .menu-col .menu-col-item h6 {
  font-family: var(--YOR);
  font-size: 18px;
  color: #c8a02f;
  margin: 5px auto;
}
#menu .menu-wrapper .menu-col .margin-top-1 {
  margin-top: 100px;
  margin-bottom: 40px;
}
#menu .menu-wrapper .menu-col .margin-top-3 {
  margin-bottom: 100px;
}
#menu .menu-wrapper .menu-col .margin-top-4 {
  margin-bottom: 100px;
}
#menu .menu-wrapper .menu-col .menu-col-item .item-special {
  border: 1px solid #e1d29f;
  margin-top: 25px;
  margin-bottom: 15px;
}
#menu .menu-wrapper .menu-col .menu-col-item .special .text-special p {
  width: 60px;
  height: 20px;
  background-color: #d6bc70;
  color: white;
}
#menu .menu-wrapper .menu-col .menu-col-item .special .text-special {
  position: absolute;
  transform: translate(377px, -20px);
}
.review-bg {
  background-image: url("img/5th-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#review .review-wrapper .content {
  width: 750px;
  height: 550px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#review .review-wrapper .content h2 {
  font-family: var(--YOR);
  font-size: 30px;
  color: white;
  margin-top: 80px;
  margin-bottom: 10px;
}
#review .review-wrapper .content blockquote {
  padding: 10px 50px;
  font-family: var(--GBBB);
  font-size: 24px;
  color: white;
  line-height: 40px;
}
#review .review-wrapper .content p {
  font-family: var(--LR);
  font-size: 18px;
  color: white;
}
.booknow-bg {
  background-image: url("img/2ndbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.container-book {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
#booknow .wrapper {
  width: 100%;
  display: block;
  margin: 100px auto;
}
#booknow .wrapper .images {
  display: block;
  float: left;
  width: 50%;
}
#booknow .wrapper .images img {
  width: 44%;
  margin: 0px 15px;
  margin-bottom: 100px;
}
#booknow .wrapper .content {
  display: block;
  float: right;
  width: 50%;
}
#booknow .wrapper .content h2 {
  font-family: var(--YOR);
  font-size: 30px;
  color: #cc9900;
  margin-bottom: 10px;
}
#booknow .wrapper .content p {
  font-family: var(--LR);
  font-size: 16px;
  padding: 0px 30px;
  margin: 10px auto;
  margin-bottom: 20px;
}
#booknow .wrapper .content form {
  text-align: left;
}
#booknow .wrapper .content label {
  font-family: var(--OSB);
  font-size: 14px;
  color: #c8a02f;
}
#booknow .wrapper .content input[type="text"] {
  width: 200px;
  height: 35px;
  border: 1px solid #e1d3a8;
}
#booknow .wrapper .content input[type="email"] {
  width: 200px;
  height: 35px;
  border: 1px solid #e2e3e3;
}
#booknow .wrapper .content input[type="date"] {
  width: 200px;
  height: 35px;
  border: 1px solid #e2e3e3;
  font-family: var(--OSI);
  font-size: 16px;
  color: #808080;
}
#booknow .wrapper .content select {
  width: 200px;
  height: 35px;
  border: 1px solid #e2e3e3;
  font-family: var(--OSI);
  font-size: 16px;
  color: #808080;
}
#booknow .wrapper .content input::placeholder {
  font-family: var(--OSI);
  font-size: 16px;
  color: #808080;
  padding: 5px 10px;
}
#booknow .wrapper .content .left {
  display: inline-block;
  margin: 10px 40px;
}
#booknow .wrapper .content .right {
  display: inline-block;
}
#booknow .wrapper .content .button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
#booknow .wrapper .content button {
  width: 200px;
  height: 35px;
  background-color: #cc9900;
  border: none;
}
#booknow .wrapper .content button a {
  color: white;
  font-family: var(--OSR);
  font-size: 16px;
}
.footer-bg {
  background-color: #191919;
}
.container-footer {
  width: 80%;
  margin: 0 auto;
}
#footer .footer-wrapper {
  width: 100%;
  display: flex;
  text-align: center;
  margin: 50px auto;
}
#footer .footer-wrapper .left {
  width: 33%;
}
#footer .footer-wrapper .middle {
  width: 33%;
}
#footer .footer-wrapper .right {
  width: 33%;
}
#footer .footer-wrapper h2 {
  font-family: var(--YOR);
  font-size: 20px;
  color: white;
  margin: 10px auto;
}
#footer .footer-wrapper img {
  width: 120px;
  margin-bottom: 20px;
}
#footer .footer-wrapper p {
  font-family: var(--OSR);
  font-size: 16px;
  color: white;
}
#footer .footer-wrapper span {
  font-family: var(--OSB);
}
#footer .footer-wrapper .middle .comm-links {
  margin: 15px auto;
}
#footer .footer-wrapper .middle .comm-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
#footer .footer-wrapper .right .social-link {
  margin: 15px auto;
}
#footer .footer-wrapper .right .social-link a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
